TestDemoADFV2/PartialArmTemplates/ArmTemplate_10_12_2018_3_59_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "testdemoadfv2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromCosmosToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CosmosToBlob",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "MongoDbV2Source",
								"batchSize": 100,
								"filter": ""
							},
							"sink": {
								"type": "BlobSink",
								"copyBehavior": "PreserveHierarchy"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "MongoDbV2Collection2",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureBlobSink",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MongoDbV2Collection2')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlobSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_2k0')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_2k0",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "source/testone.txt"
							},
							{
								"name": "Destination",
								"value": "adftutorial/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink",
								"copyBehavior": "PreserveHierarchy"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "AzureBlobsourcenew",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_2k0",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Data1",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"ID": "Prop_0",
									"FirstName": "Prop_1"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureBlobsourcenew",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureBlobsourcenew')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_2k0')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupOldWaterMarkActivity",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"dataset": {
								"referenceName": "WatermarkDataset",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "LookupNewWaterMarkActivity",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from data_source_table"
							},
							"dataset": {
								"referenceName": "SourceDataset",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "IncrementalCopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupOldWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupNewWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "select * from data_source_table where LastModifytime > '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}' and LastModifytime <= '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "SourceDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SinkDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "StoredProceduretoWriteWatermarkActivity",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalCopyActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[sp_write_watermark]')]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": {
										"value": "@{activity('LookupOldWaterMarkActivity').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WatermarkDataset')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset')]",
				"[concat(variables('factoryId'), '/datasets/SinkDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data1",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "AzureBlobJohn",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureBlobJohnSinkk",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"filename": {
						"type": "String",
						"defaultValue": "201806"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureBlobJohn')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlobJohnSinkk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobJohn')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStoragejohn",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@{pipeline().parameters.filename}",
						"type": "Expression"
					},
					"folderPath": "adftutorial"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobJohnSinkk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageJohnSinks",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "test"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonPathDefinition": {
							"_id": "$.['_id']",
							"user___type": "$.['user___type']",
							"user_className": "$.['user_className']",
							"user_objectId": "$.['user_objectId']",
							"isProcessed": "$.['isProcessed']",
							"departureLoc_latitude": "$.['departureLoc_latitude']",
							"departureLoc___type": "$.['departureLoc___type']",
							"departureLoc_longitude": "$.['departureLoc_longitude']",
							"syncCounter": "$.['syncCounter']",
							"arrivalLoc_latitude": "$.['arrivalLoc_latitude']",
							"arrivalLoc___type": "$.['arrivalLoc___type']",
							"arrivalLoc_longitude": "$.['arrivalLoc_longitude']",
							"departureTimestamp_iso": "$.['departureTimestamp_iso']",
							"departureTimestamp___type": "$.['departureTimestamp___type']",
							"timestamp_iso": "$.['timestamp_iso']",
							"timestamp___type": "$.['timestamp___type']",
							"appVersion": "$.['appVersion']",
							"deviceId": "$.['deviceId']",
							"timeZoneDiffInHours": "$.['timeZoneDiffInHours']",
							"requestToken": "$.['requestToken']",
							"metadata_countryCode": "$.['metadata_countryCode']",
							"metadata_providerVersion": "$.['metadata_providerVersion']",
							"metadata_wifi": "$.['metadata_wifi']",
							"metadata_AppVersion": "$.['metadata_AppVersion']",
							"metadata_cell": "$.['metadata_cell']",
							"metadata_version": "$.['metadata_version']",
							"metadata_osNameVersion": "$.['metadata_osNameVersion']",
							"metadata_carrierName": "$.['metadata_carrierName']",
							"metadata_provider": "$.['metadata_provider']",
							"createdAt": "$.['createdAt']",
							"updatedAt": "$.['updatedAt']",
							"debug_linear_distance": "$.['debug_linear_distance']",
							"debug_linear_waypoints": "$.['debug_linear_waypoints']",
							"debug_analytics_device_type": "$.['debug_analytics_device_type']",
							"debug_analytics_carrier_name": "$.['debug_analytics_carrier_name']",
							"debug_analytics_country_code": "$.['debug_analytics_country_code']",
							"debug_analytics_os_version": "$.['debug_analytics_os_version']",
							"debug_analytics_app_version": "$.['debug_analytics_app_version']",
							"debug_analytics_duration": "$.['debug_analytics_duration']",
							"debug_analytics_document_size": "$.['debug_analytics_document_size']",
							"debug_analytics_num_waypoints": "$.['debug_analytics_num_waypoints']",
							"debug_analytics_depart_to_first_waypoint_dist": "$.['debug_analytics_depart_to_first_waypoint_dist']",
							"debug_analytics_device_arrival_to_td_upload": "$.['debug_analytics_device_arrival_to_td_upload']",
							"debug_analytics_bluetooth_unique_count": "$.['debug_analytics_bluetooth_unique_count']",
							"debug_analytics_bluetooth_connected_duration_ratio": "$.['debug_analytics_bluetooth_connected_duration_ratio']",
							"debug_analytics_linear_distance": "$.['debug_analytics_linear_distance']",
							"debug_analytics_battery_charging": "$.['debug_analytics_battery_charging']",
							"debug_analytics_battery_drain_rate": "$.['debug_analytics_battery_drain_rate']",
							"debug_analytics_arrival_region": "$.['debug_analytics_arrival_region']",
							"debug_analytics_arrival_distance_to_urban_center": "$.['debug_analytics_arrival_distance_to_urban_center']",
							"debug_analytics_departure_region": "$.['debug_analytics_departure_region']",
							"debug_analytics_departure_distance_to_urban_center": "$.['debug_analytics_departure_distance_to_urban_center']",
							"debug_analytics_motion_ratio_stationary": "$.['debug_analytics_motion_ratio_stationary']",
							"debug_analytics_motion_ratio_walking": "$.['debug_analytics_motion_ratio_walking']",
							"debug_analytics_motion_ratio_driving": "$.['debug_analytics_motion_ratio_driving']",
							"debug_analytics_motion_ratio_no_data": "$.['debug_analytics_motion_ratio_no_data']",
							"debug_analytics_motion_ratio_rotation": "$.['debug_analytics_motion_ratio_rotation']",
							"debug_analytics_waypoint_accuracy_ratio_gps": "$.['debug_analytics_waypoint_accuracy_ratio_gps']",
							"debug_analytics_waypoint_accuracy_ratio_wifi": "$.['debug_analytics_waypoint_accuracy_ratio_wifi']",
							"debug_analytics_waypoint_accuracy_ratio_cell": "$.['debug_analytics_waypoint_accuracy_ratio_cell']",
							"debug_analytics_drive_status": "$.['debug_analytics_drive_status']",
							"debug_analytics_is_drive": "$.['debug_analytics_is_drive']",
							"debug_analytics_env": "$.['debug_analytics_env']",
							"id": "$.['id']"
						}
					},
					"fileName": "test1",
					"folderPath": "adftutorial"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobsourcenew')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageSource",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "testone.txt",
					"folderPath": "source"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseSource",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "ID",
						"type": "Int32"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[emp]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDbMongoDbApiCollection1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbMongoDbApi1",
					"type": "LinkedServiceReference"
				},
				"type": "CosmosDbMongoDbApiCollection",
				"typeProperties": {
					"collection": "NewCollection"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_2k0')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStoragesink",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					}
				],
				"typeProperties": {
					"fileName": "",
					"folderPath": "adftutorial"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDbLinkedService1",
					"type": "LinkedServiceReference"
				},
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "CollectionNew"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDbCollection1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MongoDbLinkedService",
					"type": "LinkedServiceReference"
				},
				"type": "MongoDbCollection",
				"typeProperties": {
					"collectionName": "\"NewCollection\""
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDbV2Collection1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MongoDbNative32",
					"type": "LinkedServiceReference"
				},
				"type": "MongoDbV2Collection",
				"typeProperties": {
					"collection": "NewCollection"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/MongoDbV2Collection2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MongoDbNative32",
					"type": "LinkedServiceReference"
				},
				"type": "MongoDbV2Collection",
				"typeProperties": {
					"collection": "NewCollection"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@CONCAT('Incremental-', pipeline().RunId, '.txt')",
						"type": "Expression"
					},
					"folderPath": "adftutorial"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[data_source_table]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/WatermarkDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[watermarktable]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/PraveenTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {
							"filename": "@if(equals(int(formatDateTime(utcnow(), 'MM')),01), sub(int(formatDateTime(utcnow(), 'yyyyMM')),89),sub(int(formatDateTime(utcnow(),'yyyyMM')),1))"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2018-10-10T17:30:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								40
							],
							"hours": [
								17
							],
							"monthDays": [
								10
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerDaniel')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pipeline1",
						"type": "PipelineReference"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2018-09-19T12:59:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}